<div class="login-header">
  <header>
    <div class="header-container" style="display: flex;">
      <nav class="gyraph-logo" style="">
        <%= link_to("Gyraph", "/") %>
      </nav>
      <div class="rightNavs">
        <%= link_to("日誌を書く", "#", class: "header-basic-btn", style: "color: white;") %>
        <div style="position: relative;">
          <div class="userIcon" style="">
            <%# <img src="/src/assets/user.svg" alt=""> %>
          </div>
          <%# <header-toggle ref="toggle" :is_show_toggle="is_show_toggle"/> %>
        </div>
      </div>
    </div>
      <%= button_to 'ログアウト', logout_path, method: :delete, class: 'logout-button' %>
  </header>
</div>
