<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>パスワード再設定</h1>
    <p>
      下記は<%= @user.name %>様のパスワード再設定用のリンクです。<br>
    </p>
    <p>
      <%= link_to 'こちら', password_reset_url(@password_reset.reset_password_token) %>からパスワードの再設定を行ってください。
    </p>
  </body>
</html>
