<div class="setting-toggle">
  <button>Toggle Menu</button>
  <ul class="toggle-ul hidden">
    <li class="toggle-list">
      <%= image_tag 'user.svg', class: 'toggle-list-icon' %>
      マイページ
    </li>
    <li class="toggle-list">
      <%= image_tag 'heart.svg', class: 'toggle-list-icon' %>
      いいねした日誌
    </li>
    <li class="toggle-list">
      <%= image_tag 'pen.svg', class: 'toggle-list-icon' %>
      日誌を書く
    </li>
    <br>
    <li class="toggle-list">
      <%= image_tag 'logout.svg', class: 'toggle-list-icon' %>
      ログアウト
    </li>
  </ul>
</div>
