<div class="setting-toggle" data-controller="toggle">
  <%= image_tag 'user.svg', class: 'user-icon', data: { action: "click->toggle#toggle" } %>
  <ul class="toggle-ul hidden" data-toggle-target="menu">
    <li class="toggle-list">
      <%= link_to "マイページ", user_path(current_user) %>
    </li>
    <li class="toggle-list">
      いいねした日誌
    </li>
    <li class="toggle-list">
      <%= link_to("日誌を書く", new_practice_record_path) %>
    </li>
    <br>
    <li class="toggle-list">
      <%= link_to 'ログアウト', logout_path, data: { controller: 'logout', action: 'click->logout#logout' }, class: 'logout-button' %>
    </li>
  </ul>
</div>
