<header class="fixed-header">
  <div class="button-container">
    <%= form.submit '公開する', class: "fixed-button publish" %>
    <div class="fixed-button add-field" data-form-field-target="button" data-action="click->form-field#append">
      フィールドを追加する
    </div>
  </div>
</header>
