<div class="flex justify-center gap-6 my-8">
  <%= form.submit '公開する', class: "fixed-button publish", data: { controller: "publish-record", action: "click->publish-record#handleClick" } %>
  <div class="fixed-button add-field" data-form-field-target="button" data-action="click->form-field#appendForm">
    フィールドを追加する
  </div>
</div>
