<div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative text-center mx-auto max-w-md md:max-w-lg lg:max-w-xl mt-8 shadow-md" role="success">
  <strong class="font-bold block"><%= flash[:success] %></strong>
</div>
