<div class="flex justify-center">
  <div class="grid">
    <h1 class="text-xl font-bold text-left">
      日々の練習内容を記録し、<br>友達と共有しよう
    </h1>
    <p class="text-center">Gyraphは、体操選手の日々の練習を記録することができます。<br>そして、友達と練習した内容を共有することができます。</p>
  </div>
  <%= image_tag("demo_buzz_base.png", style: "width: 300px;") %>
</div>



