<div class="flex justify-center">
  <% if flash[:alert] %>
    <div class="flex items-center h-12 bg-red-100 border border-red-400 text-red-700 px-4 rounded relative text-center mb-10 mx-auto max-w-md md:max-w-lg lg:max-w-xl" role="alert">
      <strong class="font-bold block">ログインしてください</strong>
    </div>
  <% end %>
  <h1>まだ実装されてません</h1>
</div>



