<%= render 'shared/basic_header' %>

<div class="container mx-auto py-8 px-4">

  <div class="grid gap-6 col-span-4 sm:col-span-9">
    <% @practice_records.each do |record| %>
      <%= link_to practice_record_path(record) do %>
        <div class="bg-white shadow rounded-lg p-6">
          <%= practiced_date_format_ja(record.practiced_date) %>
          <h1 class="text-xl font-semibold"><%= record.title %></h1>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
