@import "reset";
@import "base";
@import "users_show";
@import "header";
@import "user_signup_and_login";

$primary-color: #333;

body {
  font-family: Arial, sans-serif;
  color: $primary-color;
}

.submit-btn-container {
  text-align: center;
  margin-top: 10px;
}
