.setting-toggle {
  position: relative;
}

.common-toggle-ul {
  width: 160px;
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 6px;
}

.toggle-ul {
  top: 100%;
  right: 0px;
}

.three-points-toggle-ul {
  right: 20px;
}

.toggle-list {
  display: block;
  font-size: 15px;
  color: #212529;
}

.toggle-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background-color: white;
}

.toggle-link:hover {
  background-color: #f8f9fa;
}

.user-icon {
  border: 1px solid gray;
  cursor: pointer;
  margin: 5px;
  border-radius: 50%;
}
