.practice-record-wrapper {
  width: 100%;
  max-height: 100%;
  border-radius: 6px;
  background-color: white;
  margin: 30px auto;
  word-break: break-all;
}

.empty_record_message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
