.signup-header {
  padding-top: 20px;
  display: grid;
  gap: 20px;
  padding-bottom: 20px;
}

.user-form-wrapper {
  max-width: 300px;
  margin: 0 auto;
}

.signup-field-wrapper {
  display: grid;
  gap: 10px;
}

.signup-field {
  border:0;
  padding:10px;
  border:solid 1px #ccc;
  border-radius: 4px;
}
